# Node environment, either "development" or "production"
NODE_ENV="development"

# Database
DATABASE_URL="postgres://user:password@host-pooler.host/db?pgbouncer=true&connect_timeout=10"
DIRECT_DATABASE_URL="postgres://user:password@host/db?connect_timeout=10"

# Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="supersecret"

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Encryption
ENCRYPTION_KEY="" # 64 characters hexadecimal string
ENCRYPTION_IV="" # 32 characters hexadecimal string

# image-orchestrator API
NEXT_PUBLIC_IO_URL="http://localhost:4000"
