# Node environment, either "development" or "production"
NODE_ENV="development"

# Database
DATABASE_URL="postgres://postgres:postgres@localhost:5432/taiyo"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_NAME="taiyo"
DATABASE_PORT="5432"

# Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="" # run `openssl rand -base64 32` 

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Encryption
ENCRYPTION_KEY="" # run `openssl rand -hex 32` 
ENCRYPTION_IV="" # run `openssl rand -hex 16` 

# image-orchestrator API
IO_ADMIN_KEY=""
NEXT_PUBLIC_IO_URL="http://localhost:4000"

# Meilisearch
MEILISEARCH_MASTER_KEY=""
MEILISEARCH_ADMIN_KEY=""
NEXT_PUBLIC_MEILISEARCH_URL=""
NEXT_PUBLIC_MEILISEARCH_PUBLIC_KEY=""

# Soketi
SOKETI_APP_ID=""
SOKETI_APP_SECRET="" # run `openssl rand -hex 32` 
NEXT_PUBLIC_SOKETI_HOST=""
NEXT_PUBLIC_SOKETI_PORT="6001"
NEXT_PUBLIC_SOKETI_APP_KEY=""
