@import "tailwindcss";
@import "@taiyomoe/ui/globals.css";
/* @plugin "tailwind-scrollbar" {
  nocompatible: true;
  preferredStrategy: "pseudoelements";
}; */

:root {
  /* Custom dynamic sizes */
  --featured-media-card-height: 288px;
  --featured-media-card-height-md: 398px;
  --featured-media-card-height-xl: 428px;
}

@utility dropdown-content-width-full {
  width: var(--radix-dropdown-menu-trigger-width);
  max-height: var(--radix-dropdown-menu-content-available-height);
}

@utility popover-content-width-full {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

@utility min-size-* {
  min-height: --spacing(--value(number));
  min-width: --spacing(--value(number));
}

@utility max-size-* {
  max-height: --spacing(--value(number));
  max-width: --spacing(--value(number));
}

@utility focusable {
  @apply outline-hidden focus:ring-2 focus:ring-primary;
}

@theme {
  --animate-shine: shine 9s linear infinite;

  @keyframes shine {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -400% 0;
    }
  }
}

@media (min-width: 768px) {
  :root {
    --featured-media-card-height: var(--featured-media-card-height-md);
  }
}

@media (min-width: 1280px) {
  :root {
    --featured-media-card-height: var(--featured-media-card-height-xl);
  }
}
