@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0f0f5;
    --foreground: 0 0% 3.9%;

    --primary: #ff4f4f;
    --primary-foreground: 0 0% 98%;

    --secondary: #383842;
    --secondary-foreground: 0 0% 9%;

    --content1: #fff;
    --content1-foreground: 0 0% 3.9%;

    --discord: #5865f2;
    --discord-foreground: white;

    --google: white;
    --google-foreground: dark;

    --body-padding: 24px;
    --navbar-height: 60px;
    --reader-height: calc(100vh - var(--navbar-height));
    --reader-sidebar-width: 300px;
  }

  .dark {
    --background: #16161a;
    --foreground: 0 0% 98%;

    --primary: #ff4f4f;
    --primary-foreground: 0 0% 98%;

    --secondary: #383842;
    --secondary-foreground: 0 0% 98%;

    --content1: #26262d;
    --content1-foreground: 0 0% 98%;

    --discord: #5865f2;
    --discord-foreground: white;

    --google: white;
    --google-foreground: dark;
  }
}

.swiper.trendingMedias .swiper-slide {
  width: inherit !important;
  height: inherit !important;
}

.swiper.trendingMedias:not(.swiper-initialized) .swiper-slide,
.swiper.latestMedias:not(.swiper-initialized) .swiper-slide {
  margin-right: 24px;
}

.swiper-pagination-bullet {
  background-color: #383842 !important;
  opacity: 0.8 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}

/* BEFORE MD */
@media screen and (max-width: 768px) {
  .swiper.trendingMedias .swiper-slide {
    width: fit-content !important;
    height: inherit !important;
  }
}
