@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0f0f5;
    --foreground: 0 0% 3.9%;

    --primary: 0 100% 65.49%;
    --primary-foreground: 0 0% 98%;

    --secondary: #383842;
    --secondary-foreground: 0 0% 9%;

    --content1: #ececee; /* zinc-100 + 3% darker */
    --content1-foreground: 0 0% 3.9%;

    --content2: #dfdfe2; /* zinc-100 + 8% darker */
    --content2-foreground: 0 0% 3.9%;

    --discord: #5865f2;
    --discord-foreground: white;

    --google: white;
    --google-foreground: #000;

    --body-padding: 24px;
    --navbar-height: 60px;
    --medias-banner-content-height: 200px;
    --medias-banner-height: calc(var(--medias-banner-content-height) + var(--navbar-height));
    --reader-height: calc(100dvh - var(--navbar-height));
    --reader-sidebar-width: 300px;
    --library-sidebar-width: 300px;
  }

  .dark {
    --background: #16161a;
    --foreground: 0 0% 98%;

    --content1: #27272a; /* zinc-800 */
    --content1-foreground: 0 0% 98%;

    --content2: #37373b; /* zinc-800 + 8% brighter */
    --content2-foreground: 0 0% 98%;
  }

  @screen sm {
    :root {
      --medias-banner-content-height: 250px;
    }
  }

  @screen md {
    :root {
      --body-padding: 32px;
      --medias-banner-content-height: 300px;
    }
  }

  @screen lg {
    :root {
      --body-padding: 48px;
      --medias-banner-content-height: 350px;
    }
  }
}

.apexcharts-toolbar svg {
  @apply fill-default-300 stroke-none !important;
}

.apexcharts-toolbar .apexcharts-selected svg {
  @apply fill-primary !important;
}

.apexcharts-toolbar > div:not(.apexcharts-selected):hover {
  @apply opacity-70 !important;
}
